@import '../../App';

#home .container {
    align-items: start;

    .heading {
        display: flex;
        flex-direction: row;
        align-items: center;

        .heading-info {
            display: flex;
            flex-direction: column;
        }

        hgroup {
            color: $gradient-5;
            font-weight: 900;
            margin: 0;

            h1 {
                font-size: 3em;
                margin: 0;

                &:before {
                    content: '이름\a';
                    white-space: pre;
                    font-size: 0.6em;
                }
            }

            h2 {
                color: $text-dark;
                font-weight: 400;
                text-transform: capitalize;
                margin: 0;
            }
        }
    }

    .call-to-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        width: 100%;

        .icons {
            margin-top: 1em;

            a {
                svg {
                    width: 1.5em;
                    height: auto;
                }

                &:not(:nth-child(1)) {
                    margin-left: 0.5em;
                }
            }
        }
    }
}
