{
    "extends": ["stylelint-config-standard", "stylelint-config-recess-order"],
    "plugins": ["stylelint-order"],
    "customSyntax": "postcss-scss",
    "rules": {
        "indentation": 4
    }
}
