@import "../../App";

#contact {
    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            display: flex;
            flex-flow: column nowrap;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            label {
                width: 45%;
            }
        }
    }

    h2 {
        color: $gradient-3;

        &::before {
            content: "연락";
        }
    }
}
