$gradient-1: #2f4858;
$gradient-2: #4c577e;
$gradient-3: #875d92;
$gradient-4: #c55d89;
$gradient-5: #ed6d67;
$gradient-6: #f39336;

$background-light: #fff;
$background-dark: #333;

$text-light: #fff;
$text-light-transparent: rgba(0, 0, 0, 0.8);
$text-dark: #333;
