@import "../../App";

section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: $text-dark;
    background-color: $background-light;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 750px;
        margin-right: auto;
        margin-left: auto;
    }
}
