$gradient-1: #2f4858;
$gradient-2: #4c577e;
$gradient-3: #875d92;
$gradient-4: #c55d89;
$gradient-5: #ed6d67;
$gradient-6: #f39336;

$background-light: #fff;
$background-dark: gradient;

$text-light: #fff;
$text-light-transparent: rgb(255 255 255 / 15%);
$text-dark: #333;
$text-dark-transparent: rgb(0 0 0 / 15%);

body {
    margin: 0;
    font-family: Raleway, serif;
    font-weight: 400;
    font-variant-numeric: lining-nums;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

strong {
    font-weight: 600;
}

.color {
    &-1 {
        color: $gradient-1;
    }

    &-2 {
        color: $gradient-2;
    }

    &-3 {
        color: $gradient-3;
    }

    &-4 {
        color: $gradient-4;
    }

    &-5 {
        color: $gradient-5;
    }

    &-6 {
        color: $gradient-6;
    }
}

.background-color {
    &-1 {
        background-color: $gradient-1;
    }

    &-2 {
        background-color: $gradient-2;
    }

    &-3 {
        background-color: $gradient-3;
    }

    &-4 {
        background-color: $gradient-4;
    }

    &-5 {
        background-color: $gradient-5;
    }

    &-6 {
        background-color: $gradient-6;
    }
}

.border-color {
    &-1 {
        border-color: $gradient-1;
    }

    &-2 {
        border-color: $gradient-2;
    }

    &-3 {
        border-color: $gradient-3;
    }

    &-4 {
        border-color: $gradient-4;
    }

    &-5 {
        border-color: $gradient-5;
    }

    &-6 {
        border-color: $gradient-6;
    }
}

.icon-color {
    &-1 {
        fill: $gradient-1;
        stroke: $gradient-1;
    }

    &-2 {
        fill: $gradient-2;
        stroke: $gradient-2;
    }

    &-3 {
        fill: $gradient-3;
        stroke: $gradient-3;
    }

    &-4 {
        fill: $gradient-4;
        stroke: $gradient-4;
    }

    &-5 {
        fill: $gradient-5;
        stroke: $gradient-5;
    }

    &-6 {
        fill: $gradient-6;
        stroke: $gradient-6;
    }
}
